body {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

body.loaded {
  opacity: 1;
}

.fundo {
    background-color: rgba(16, 15, 15, 1) !important;
}
.borda{
    border-bottom: 4px solid black;
    
}

.mexe {
  transition: transform 0.3s ease; /* animação suave */
}

.mexe:hover {
  transform: scale(1.1); /* cresce 10% */
  z-index: 5;
}

.textcolor{
    color: rgb(255, 255, 255) !important;
}
.iconscss{
    color:white;
}
.dropdown-item:hover {
  color: #000000 !important;
}
.margem{
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
}
.fundodiv{
    background-color: white;
    border-radius: 20px;
}
.centro{
    text-align: center;
}
.centroitem{
    display: flex;
    justify-content: center;
}
.titulo{
    color: #2D8FFF;
    text-align: center;
}
.iconscss{
  font-size: 30px;
  color:white;
  margin-right: 20px;
}
.azul:hover{
  color: #2D8FFF !important;
}
footer{
   margin-top: 180px;
   padding: 1%;
   background-color: rgb(26, 24, 24) ;
   text-align: center;
}

footer>p{
    padding-inline: 5%;
    display: inline-flex;
    font-size: 15px !important;
}

footer > a, a:link, a:visited, a:active{
    text-decoration: none;    
    color: white;
}
.texto {
    color: white !important;
    font-size: 20px !important;
}
.mexe:hover {
  transform: scale(1.05); 
  z-index: 5;
  color: #2D8FFF !important;
}