body {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

body.loaded {
  opacity: 1;
}

.fundo {
    background-color: rgba(16, 15, 15, 1) !important;
}

.borda{
    border-bottom: 4px solid black;
}

.mexe {
  transition: transform 0.3s ease; 
}

.mexe:hover {
  transform: scale(1.05); 
  z-index: 5;
  color: #2D8FFF !important;
}

.mexecard {
  transition: transform 0.3s ease; 
}

.mexecard:hover {
  transform: scale(1.05); 
  z-index: 5;
}

.conteudo {
    display: none;
}

.ativo {
    display: block;
}

h2{
    padding: 5%;
    color: #007AFF;
    font-size: 40px;
}

.texto{
    color: white;
    font-size: 20px;
}
.iconscss{
  font-size: 30px;
  color:white;
  margin-right: 20px;
}
.azul:hover{
  color: #2D8FFF !important;
}
footer{
  margin-top: 180px;
  padding: 1%;
  background-color: rgb(26, 24, 24) ;
  text-align: center;
}

footer>p{
   padding-inline: 5%;
   display: inline-flex;
   font-size: 15px !important;
}

footer > a, a:link, a:visited, a:active{
   text-decoration: none;    
   color: white;
}