@import url(footer.css);
@import url(corpo_padrao.css);

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.erro {
    color: red;
    font-size: 0.9em;
    margin-bottom: 2px;
    display: flex;
}

.input-erro {
    border: 1px solid red !important;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 30px;
}

.form-box {
  background-color: #fff;
  color: black;
  padding: 30px 25px;
  border-radius: 20px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  text-align: center;
}

.form-box h2 {
  font-size: 16px;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"]{
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
}


button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}


button:hover {
  background-color: #0056b3;
}


p {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}


.link {
  color: #007bff !important;
  text-decoration: none;

}


.link:hover {
  text-decoration: underline;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center; /* centraliza horizontalmente */
  padding-top: 30px; /* mantém espaçamento igual ao container */
  width: 100%;
}


.role-selection {
  margin-bottom: 20px;
}

.role-selection label {
  margin: 10px ;
}
