.fundo {
    background-color: rgba(16, 15, 15, 1) !important;
}
.borda{
    border-bottom: 4px solid black;
    
}
.iconscss{
    color:white;
}
.textcolor{
    color: rgb(255, 255, 255) !important;
}
.dropdown-item:hover {
  color: #000000 !important;
}
.fundodiv{
    background-color: rgb(207, 205, 205);
    border-radius: 20px;
}

.margem{
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
}
.send{
    margin-top: 40px;
    display:flex;
    gap: 5px; 
}
.titulo{
    color: #2D8FFF;
    text-align: center;
}
.iconscss{
    font-size: 30px;
    color:white;
    margin-right: 20px;
}
.azul:hover{
    color: #2D8FFF !important;
}
footer{
   margin-top: 15%;
   padding: 10%;
   background-color: rgb(26, 24, 24) ;
   text-align: center;
   
}

footer>div>p{
    padding-inline: 5%;
    display: inline-flex;
    font-size: 15px !important;
}

/*Define que todos os links dentro do rodapé não terão decorações (sublinhado) e a cor será cinza claro*/
footer > a, a:link, a:visited, a:active{
    text-decoration: none;    
    color: white;
}
.mensagem-direita {
    text-align: right;
    background-color: #2D8FFF;
    margin-left: auto;
    margin-right: 10px;
    max-width: 60%;
    padding: 8px 12px;
    border-radius: 10px;
    margin-top: 5px;
  }
  
  .mensagem-esquerda {
    text-align: left;
    background-color: #f1f0f0;
    margin-right: auto;
    margin-left: 10px;
    max-width: 60%;
    padding: 8px 12px;
    border-radius: 10px;
    margin-top: 5px;
  }
  