.fundo {
    background-color: rgba(16, 15, 15, 1) !important;
}
.borda{
    border-bottom: 4px solid black;
    
}
.titulo{
    color: #2D8FFF;
    text-align: center;
}

.textcolor{
    color: rgb(0, 0, 0) !important;
}
.margem{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
}
.fundodiv{
    background-color: white;
    border-radius: 20px;
}
.centro{
    text-align: center;
}
.area{
    margin: 0px;
}