body {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

body.loaded {
  opacity: 1;
}

.fundo {
    background-color: rgba(16, 15, 15, 1) !important;
}
.borda{
    border-bottom: 4px solid black;
    
}

.mexe {
  transition: transform 0.3s ease; 
}

.mexe:hover {
  transform: scale(1.05); 
  z-index: 5;
}

.titulo{
    color: #2D8FFF;
    text-align: center;
}

.textcolor{
    color: rgb(255, 255, 255) !important;
}
.textcolorPDF{
    color: black;
}
.margem{
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
}
.fundodiv{
    background-color: white;
    border-radius: 20px;
}
.centro{
    text-align: center;
}
.iconscss{
    color:white;
}
