@import url(footer.css);
@import url(corpo_padrao.css);

label{

    color: #007AFF;
    font-size: 20px;
}

select{
    background-color: lightgray !important ; 
    color: rgba(16, 15, 15, 1) !important ; 
    text-align: center !important ;
    font-size: 20px !important ;
}

.conteudo {
    display: none;
}

.ativo {
    display: block;
}

h1{
    padding: 3%;
    text-align: center;
    color: #007AFF;
    font-size: 80px;
}
