body {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

body.loaded {
  opacity: 1;
}

.fundo {
    background-color: rgba(16, 15, 15, 1) !important;
}

.borda{
    border-bottom: 4px solid black;
}

.mexe {
  transition: transform 0.3s ease; /* animação suave */
}

.mexe:hover {
  transform: scale(1.05); 
  z-index: 5;
  color: #2D8FFF !important;
}

label{

    color: #007AFF;
    font-size: 20px;
}

select{
    background-color: lightgray !important ; 
    color: rgba(16, 15, 15, 1) !important ; 
    text-align: center !important ;
    font-size: 20px !important ;
}

.conteudo {
    display: none;
}

.ativo {
    display: block;
}

h1{
    padding: 3%;
    text-align: center;
    color: #007AFF;
    font-size: 80px;
}

.texto{
    color: white;
    font-size: 20px;
}



footer{
   margin-top: 180px;
   padding: 1%;
   background-color: rgb(26, 24, 24) ;
   text-align: center;
}

footer>p{
    padding-inline: 5%;
    display: inline-flex;
    font-size: 15px !important;
}

/*Define que todos os links dentro do rodapé não terão decorações (sublinhado) e a cor será cinza claro*/
footer > a, a:link, a:visited, a:active{
    text-decoration: none;    
    color: white;
}