@import url(corpo_padrao.css);
  
.iconscss{
    font-size: 30px;
    color:white;
    margin-right: 20px;
}

.iconscss{
    font-size: 30px;
    color:white;
    margin-right: 20px;
}

.azul:hover{
    color: #2D8FFF !important;
}