body {
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }
  
  body.loaded {
    opacity: 1;
  }
  
  .fundo {
      background-color: rgba(16, 15, 15, 1) !important;
  }
  .borda{
      border-bottom: 4px solid black;
      
  }
  .textcolor{
      color: white !important;
  }
  
  .hover-caixa {
      display: inline-block; 
      padding: 5px 10px;
  }
    
  .hover-caixa:hover {
      border: 1px solid #323c46;
      border-radius: 10px;
  }
  
  .mexe {
    transition: transform 0.3s ease; 
  }
  
  .mexe:hover {
    transform: scale(1.05); 
    z-index: 5;
  }
  
  .conteudo {
      display: none;
  }
  
  .ativo {
      display: block;
  }
  
  .caixa {
      border: 2px solid white; 
  }
  
  .iconscss{
      font-size: 30px;
      color:white;
      margin-right: 20px;
  }
  .espaçamento{
      justify-content: space-between;
  }
  
  
footer{
   margin-top: 15%;
   padding: 10%;
   background-color: rgb(26, 24, 24) ;
   text-align: center;
   
}

footer>div>p{
    padding-inline: 5%;
    display: inline-flex;
    font-size: 15px !important;
}

/*Define que todos os links dentro do rodapé não terão decorações (sublinhado) e a cor será cinza claro*/
footer > a, a:link, a:visited, a:active{
    text-decoration: none;    
    color: white;
}

.iconscss{
    font-size: 30px;
    color:white;
    margin-right: 20px;
}
.azul:hover{
    color: #2D8FFF !important;
}
.texto {
     color: white !important;
     font-size: 20px !important;
}
.mexe:hover {
   transform: scale(1.05); 
   z-index: 5;
   color: #2D8FFF !important;
 }

