.fundo {
    background-color: rgba(16, 15, 15, 1) !important;
}

.borda{
    border-bottom: 4px solid black;
}

.hover-caixa {
    display: inline-block;
    padding: 5px 10px;
}

.hover-caixa:hover {
    border: 1px solid #323c46;
    border-radius: 10px;
}

.mexe {
  transition: transform 0.3s ease; 
}

.mexe:hover {
  transform: scale(1.05); 
  z-index: 5;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    padding: 5%;
}

.grid>div {
    margin-top: 8%;
    margin-bottom: 8%;
    text-align: center;
}

.full-row {
    grid-column: span 2;
}


.textcolor {
    color: white !important;
    font-size: 20px !important;
}

h1 {
    font-size: 55px !important;
}

h4{
    text-align: start !important;
}

.sombra {
    box-shadow: 15px 15px;
    color: #2D8FFF;
    border-radius: 20px;
}

footer{
   margin-top: 10vh 
}


a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: lightgray !important;
}