.fundo {
    background-color: rgba(16, 15, 15, 1) !important;
}

.borda{
    border-bottom: 4px solid black;
    
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    padding: 5%;
}

.grid>div {
    padding-top: 10%;
    text-align: center;
}

.textcolor {
    color: white !important;
    font-size: 18px !important;
}

h1 {
    font-size: 55px !important;
}


.hover-caixa {
    display: inline-block;
    padding: 5px 10px;
}

.hover-caixa:hover {
    border: 1px solid #323c46;
    border-radius: 10px;
}

.sombra {
    box-shadow: 15px 15px;
    color: #2D8FFF;
    border-radius: 20px;
}

.full-row {
    grid-column: span 2;
}

footer{
   margin-top: 30vh 
}