* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #121212;
  color: white;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111;
  height: 100vh;
  justify-content: center;
  gap: 20px;
}

.logo {
  width: 200px;
  margin-bottom: 20px;
}

.divisor {
  height: 2px;
  width: 100%;
  background-color: #333;
  margin-bottom: 20px;
}

/* nova barra de progresso via imagem */
.progress-image img {
  width: 1px;
  height: auto;
  margin-bottom: 20px;
}

/* formulário */
.form-box {
  background-color: #fff;
  color: black;
  padding: 30px 25px;
  border-radius: 20px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.form-box h2 {
  font-size: 16px;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #0056b3;
}
