/*Define a que o body não terá opacidade, e a transição suave de 0.5s*/
body {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
  
/*Quando a função do JS retornar o true define a opacidade para 1 com transição fade in de 0.5s*/
body.loaded {
    opacity: 1;
}

/*Define a cor de fundo da página*/
.fundo {
    background-color: rgba(16, 15, 15, 1) !important;
}

/*Define uma bora de 4 pixel solida preta na parte debaixo da div*/
.borda{
    border-bottom: 4px solid black;
}

/*Adiciona uma animação de transformação de 0.3s de duração*/
.mexe {
  transition: transform 0.3s ease; 
}

/*Assim que o mouse estiver em cima do objeto, aumenta a escala dele em 5% e altera a cor para azul*/
.mexe:hover {
  transform: scale(1.05); 
  z-index: 5;
  color: #2D8FFF !important;
}

/*Cria uma grid de 2 colunas com uma margem interna de 5% de tamanho*/
.grid {
    margin-top: 5%;
    display: grid;
    grid-template-columns: auto auto;
    background-color: lightgray;
    border-radius: 30px;
    padding: 5%;
    margin-bottom: 5%;
}

section{
    border-color: #ff2222;
    box-shadow: 0 0 50px rgb(160, 7, 7);
    outline: none;
}

 .voltar{
    border: solid #d41515 1px;
    background-color: #f07474;
    color: #d41515;

}

 .sair{
    border: solid #006e21 1px;
    background-color: #15be48;
    color: #006e21; 
}

button{
    text-align: center;
    border-radius: 12px;
    font-size: 18px;
    padding: 6px 80px;
    margin-left: 20px;
    margin-right: 20px;
}

/*Define que toda div dentro da grid tem o texto alinhado no centro e uma margem no top e embaixo de 8% de tamanho*/
.grid>div {
    margin-bottom: 4%; 
}

.full-row {
    grid-column: span 2;
}


.centralizar{
    text-align: center;
}


.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
  
label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    font-size: 30px;
}
  
input {
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}

input:focus{
    border-color: gray;
    transition: transform 0.3s ease;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.gallery-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 30px;
}

.areapatexto{
  border: 3px solid black; 
  border-radius: 5px;
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 20px;
}

/* Scroll personalizado */
.areapatexto::-webkit-scrollbar {
  width: 8px;
}
.areapatexto::-webkit-scrollbar-track {
  background: transparent;
}
.areapatexto::-webkit-scrollbar-thumb {
  background-color: #2D8FFF;
  border-radius: 10px;
}
.areapatexto::-webkit-scrollbar-thumb:hover {
  background-color: #2D8FFF;
}

footer{
   margin-top: 15%;
   padding: 10%;
   background-color: rgb(26, 24, 24) ;
   text-align: center;
   
}

footer>div>p{
    padding-inline: 5%;
    display: inline-flex;
    font-size: 15px !important;
}

/*Define que todos os links dentro do rodapé não terão decorações (sublinhado) e a cor será cinza claro*/
footer > a, a:link, a:visited, a:active{
    text-decoration: none;    
    color: white;
}