body {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

body.loaded {
  opacity: 1;
}

.fundo {
    background-color: rgba(16, 15, 15, 1) !important;
}

.borda{
    border-bottom: 4px solid black;
}

.mexe {
  transition: transform 0.3s ease; /* animação suave */
}

.mexe:hover {
  transform: scale(1.1); /* cresce 10% */
  z-index: 5;
}

h1{
    padding: 3%;
    text-align: center;
    color: #007AFF;
    font-size: 80px;
}

.texto{
    color: white;
    font-size: 20px;
}


footer{
   margin-top: 15%;
}

footer > a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: lightgray !important;
}